extends layout

block content
    style.
        body {
            -background: url("/images/orange.jpg") no-repeat center center fixed;
            background-size: cover;
            -background-color:#000;
            height: 100%;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            grid-gap: 50px;
            object-fit: cover;
            padding: 10px;
        }
        .grid-container>a:hover {
            color: cadetblue;
            text-decoration: none;
        }
        .grid-item {
        background-color: rgba(0,0,0,.8);
        border: 1px solid rgba(255, 255, 255, 0.8);
            padding: 10px;
            font-size: 20px;
            text-align: center;
            color: white;
        }
        .jumbo1 {
            background-color: rgba(192,192,192,0);
            text-align:center;
            padding:2rem 1rem;
        }
    div(style='text-align:center;margin-top:70px;')
        h2(style='color:cornsilk;text-align:center;')
        a.h5.backToLink(href="/", style='color: brown;', id='backTo') «Back to Home
    #hello
    script.
        class CourseComponent extends React.Component {
            constructor(props) {
                super(props);
                this.state = Object.assign({}, { courses: props.courses, search: '' });
            }
            componentDidMount() {
                this.fetchAll();
            }
            fetchAll() {
                fetch('./dept/depts')
                .then(res => res.json())
                .then(courses => this.setState({ courses: courses }));
            }
            updateSearch(event) {
                this.setState({ search: event.target.value.substr(0, 20) });
            }
            addReview(event) {
                event.preventDefault();
            //console.log(this);
                var data = { depC: this.refs.first.value, dept: this.refs.second.value };
                this.setState({
                courses: this.state.courses.concat(data)
                })
                this.refs.first.value = '';
                this.refs.second.value = '';
                this.postReview(data);
            }
            postReview(data) {
                const headers = new Headers();
                headers.append('Content-Type', 'application/json');
                const options = {
                method: 'POST',
                headers,
                body: JSON.stringify(data)
            }
            const req = new Request('http://localhost:3001/univ/dept/addDept', options);
            const res = fetch(req);
            const status = res.status;
            }
            render() {
                if (this.state.courses) {
                    //const numbers = this.state.courses;
                    let depts = this.state.courses.filter(
                        (dep) => {
                        //return (dep.depC).toLowerCase().indexOf(this.state.search.toLowerCase()) !== -1;
                        return (dep.depC + dep.dept).toLowerCase().match(this.state.search.toLowerCase());
                        }
                    );
                    return (
                        React.createElement("div", { className: 'container' },
                            React.createElement("div", { className: 'jumbotron jumbo1' },
                                React.createElement("div", { className: 'input-group clearBack' },
                                    React.createElement("input", { className: 'form-control', value: this.state.search, onChange: this.updateSearch.bind(this), placeholder: 'Search by Department',autoFocus:'focus' }),
                                    React.createElement("span", { className: 'input-group-addon'},
                                        React.createElement("i", { className: 'fa fa-search'},),
                                    ),
                                    /*React.createElement("form", { onSubmit: this.addReview.bind(this) },
                                        React.createElement("input", { type: 'text', ref: 'first', required: true, placeholder: 'Enter first' }),
                                        React.createElement("input", { type: 'text', ref: 'second', required: true, placeholder: 'Enter Second' }),
                                        React.createElement("button", { type: 'submit' }, "Add"),
                                    ),*/
                                ),
                            ),
                            React.createElement("div", { className: 'grid-container' },
                                depts.map((number) => {
                                    return React.createElement("a", { key: number.depC, className: 'grid-item', href: './dept/course?deptId=' + number.depC }, number.depC + " - " + number.dept)
                                })
                            )
                        )
                    )
                }
            }
        }
        const courses = []
        ReactDOM.render(
            React.createElement(CourseComponent, { courses: courses }),
            document.getElementById("hello")
        );
