extends layout

block content
    style.
        body {
            background: url("/images/osu.JPG") no-repeat center center fixed;
            background-size: cover;
            height: 100%;
            text-align:center;
            color:orange;
        }
    div.jumbotron.container(style='background-color:rgba(192,192,192,0.3);')
        h2(style='color:white;') Welcome to Rate your course (Oregon State University)
        br
        br
        a.h5(href='./univ/dept' style='color:cornsilk;text-align:right;') View Departments