extends layout

block content
    style.
        body {
            background: url("/images/osu.JPG") no-repeat center center fixed;
            background-size: cover;
            height: 100%;
            text-align:center;
            color:orange;
        }
    div.jumbotron.container(style='background-color:rgba(255,255,255,.8);margin-top:50px;')
        h2(style='color:orange;') Oregon State University
        h2(style='color:white;') Welcome to Rate your course 
        br
        a.h5(href='https://prometheus.eecs.oregonstate.edu/token?asid=8634941057606815&then=http%3A//159.89.154.17:3001/univ/dept' style='color:orange;text-align:right;') Please login with ONID to proceed