doctype html
html
	head
		meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title= "Rate Your Course"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/styleSheets/style.css') 
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.js")
	body(id='changeBody')
		block content
		
