html
    header
    style.
        body { 
            background: url("https://s-i.huffpost.com/gen/2603146/images/o-JOURNAL-WRITING-facebook.jpg") no-repeat center center fixed; 
            background-size: cover;
            height: 100%;   
            }
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    body
    .page-header.container
      h1
        | Welcome to Juno RYC
        small
          span(style='color:orange') Oregon State University
    .jumbotron.container
      form#formfield.form-horizontal(method='post')
        .form-group
          label Last Name
          input#lastname.form-control(placeholder='Enter Last Name', name='lastname')
        .form-group
          label First Name
          input#firstname.form-control(placeholder='Enter First Name', name='firstname')
        .form-group
          input#deleteBtn.btn.btn-danger(type='button', name='delete', value='Delete', data-toggle='modal', data-target='#confirm-delete')
          input#swalBtn.btn.btn-primary(type='button', name='swal', value='swal')
          input.btn.btn-default(type='button', name='reset', value='Reset', onclick="window.location='./'", data-modal-type='confirm')
          input#toDelete(type='hidden', name='toDelete', value='false')
      #confirm-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              | Confirm Delete
            .modal-body
              | Are you sure you want to delete the following details?
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel
              a#submitModal.btn.btn-danger(href='#') Delete
    script.
        $('#deleteBtn').click(function () {
        $('#lname').text($('#lastname').val());
        $('#fname').text($('#firstname').val());
        });
        $('#swalBtn').click(function () {
        //swal('Hello');
        swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this imaginary file!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        })
        .then((willDelete) => {
        if (willDelete) {
        $('#toDelete').attr('value', 'true')
        $('#formfield').submit();
        } else {
        //swal.close();
        return false;
        }
        });
        });
        $('#submitModal').click(function () {
        $('#toDelete').attr('value', 'true')
        $('#formfield').submit();
        });
